<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kyaami.mobileapp.www"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.kyaami.mobileapp.www.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kyaami.mobileapp.www.Music_a"
            android:label="@string/title_activity_music_a" >
        </activity>
        <activity
            android:name="com.kyaami.mobileapp.www.Events_a"
            android:label="@string/title_activity_events_a" >
        </activity>
        <activity
            android:name="com.kyaami.mobileapp.www.Literature_a"
            android:label="@string/title_activity_literature_a" >
        </activity>
        <activity
            android:name="com.kyaami.mobileapp.www.Merchandise_a"
            android:label="@string/title_activity_merchandise_a" >
        </activity>
        <activity
            android:name="com.kyaami.mobileapp.www.Radio_a"
            android:label="@string/title_activity_radio_a" >
        </activity>

        <!-- Tags Activity -->
        <activity android:name="com.kyaami.mobileapp.www.TagsActivity" />

        <!-- Authors Activity -->
        <activity android:name="com.kyaami.mobileapp.www.AuthorsActivity" />

        <!-- Books Activity -->
        <activity android:name="com.kyaami.mobileapp.www.BooksActivity" />
        <activity
            android:name="com.kyaami.mobileapp.www.Songs"
            android:label="@string/title_activity_songs" >
        </activity>
        <activity
            android:name="com.kyaami.mobileapp.www.Albums"
            android:label="@string/title_activity_albums" >
        </activity>
        <activity
            android:name="com.kyaami.mobileapp.www.Artists"
            android:label="@string/title_activity_artists" >
        </activity>
        <activity
            android:name="com.kyaami.mobileapp.www.MainActivity"
            android:label="@string/app_name" 
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
    </application>

</manifest>
